.image-container {}

.image-container img {

    mix-blend-mode: multiply;
    width: 15vw;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image-container img.hovered {
    transform: scale(1.2);

}

.view-button {
    border-radius: 10px;
    position: relative ;
    left: 30%;
    bottom:10px;
    transform: translateX(-10%);
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.image-container:hover .view-button {
    opacity: 1;

}


@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  .animate-blink {
    animation: blink normal 1.5s infinite;
  }